{{if eq .chezmoi.os "darwin" -}}
#!/bin/bash
# Install Homebrew if needed
if ! type brew &> /dev/null; then
    $(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)
fi

# Install packages
brew bundle --no-lock --file=/dev/stdin <<EOF
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/core"
brew "awscli"
brew "bat"
brew "chezmoi"
brew "curl"
brew "direnv"
brew "docker-compose"
brew "exa"
brew "git"
brew "git-delta"
brew "go"
brew "hugo"
brew "httpie"
brew "jq"
brew "libffi"
brew "lighttpd"
brew "neovim"
brew "nvm"
brew "pre-commit"
brew "pyenv"
brew "pyenv-virtualenv"
brew "rust"
brew "starship"
brew "wget"
brew "zsh"
cask "1password"
cask "authy"
cask "dash"
cask "docker"
cask "firefox"
cask "gpg-suite-no-mail"
cask "iterm2"
cask "jetbrains-toolbox"
cask "karabiner-elements"
cask "spotify"
cask "vscodium"
EOF

# Set default shell if needed
if [ "$SHELL" != "$(brew --prefix)/bin/zsh" ]; then
    sudo echo "$(brew --prefix)/bin/zsh" >> /etc/shells
    chsh -s $(brew --prefix)/bin/zsh
fi
{{- end}}
